.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsForm {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settingWrapper {
  margin: var(--space-s) var(--space-xs);
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.formControls {
  display: flex;
  gap: var(--space-xs);
  width: 100%;
  justify-content: space-evenly;
  padding: var(--space-2xs);
}
