.statusWrapper {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom-left-radius: var(--space-l);
  border-bottom-right-radius: var(--space-l);
  width: 100%;
  border: 2px solid black;
  border-top: 0px;
  padding: var(--space-xs) var(--space-m);
}
