.menuBar {
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: start;
}

.menus {
  display: flex;
  justify-content: start;
}

.menuWrapper {
  position: relative;
  z-index: 100;
}

.menu {
  padding: var(--space-3xs) var(--space-s);
  text-align: start;
  background-color: white;
}

.menu:hover,
.menuItem:hover {
  cursor: pointer;
}

.menuItemsWrapper,
.subMenuItemsWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: max-content;
}

.menuItemWrapper {
  width: 100%;
  position: relative;
}

.menuItem {
  display: flex;
  width: 110%;
  justify-content: space-between;
  padding: var(--space-2xs) 0;
}

.menuLabel {
  width: 100%;
  display: flex;
}

.checkmark {
  width: var(--space-2xl);
  display: flex;
  justify-content: center;
}

.subMenuItemsWrapper {
  left: 110%;
  top: 0;
}
