.settingsForm {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settingWrapper {
  margin: var(--space-s) var(--space-xs);
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.formControls {
  display: flex;
  gap: var(--space-xs);
  width: 100%;
  justify-content: space-evenly;
  padding: var(--space-2xs);
}
